<nav class="navbar">
    <a href="/" class="logo">NOLIG</a>
  
    <form class="search-bar" method="GET" action="{% url 'home' %}">
      <input type="text" name="q" placeholder="Search discussions..." />
    </form>
  
    <div class="nav-user">
      {% if request.user.is_authenticated %}
          <span>Hello, <a href="{% url 'user-settings' %}">{{ request.user.username }}</a></span>
          <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
      {% else %}
          <a href="{% url 'login' %}" class="login-btn">Login</a>
      {% endif %}
    </div>
  </nav>
  