{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr; /* 3 columns: left, middle, and right */
        gap: 10px; /* Optional: to add spacing between columns */
    }

    .right-column {
        grid-column: 3; /* Place the content in the right-most column */
    }

    .stacked-content {
        display: flex;
        flex-direction: column; /* Stack the content vertically */
        gap: 10px; /* Optional: add some space between the stacked items */
    }
</style>

<h1>Home Template</h1>

<div class="home-container">

    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        <h5>{{discussion_count}} discussions available</h5>
        <a href="{% url 'create-discussion' %}">Create Discussion</a>

        {% include 'base/feed_component.html' %}
    </div>

    <!-- Wrapper for stacked content -->
    <div class="right-column">
        <div class="stacked-content">

            <div>
                {% include 'base/flashcard_feed.html' %}
            </div>
            <div>
                {% include 'base/activity_component.html' %}
            </div>


        </div>
    </div>

</div>

{% endblock %}