{% extends 'main.html' %}

{% block content %}

<style>
  
    .right-column {
        grid-column: 3; /* Place the content in the right-most column */
    }

    .stacked-content {
        display: flex;
        flex-direction: column; /* Stack the content vertically */
        gap: 10px; /* Optional: add some space between the stacked items */
    }
    .home-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding-top: 2rem;
}

.home-container > div {
    background: white;
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

    
</style>

<h1>Home Template</h1>

<div class="home-container">

    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        <h5>{{discussion_count}} discussions available</h5>
        <a href="{% url 'create-discussion' %}">Create Discussion</a>

        {% include 'base/feed_component.html' %}
    </div>

    <!-- Wrapper for stacked content -->
    <div class="right-column">
        <div class="stacked-content">

            <div>
                {% include 'base/flashcard_feed.html' %}
            </div>
            <div>
                {% include 'base/activity_component.html' %}
            </div>


        </div>
    </div>

</div>

{% endblock %}